*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}


header{
    padding: 30px 0;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
nav ul li{
    font-size: 25px;
    color: white;
    transition: 0.8s;
}
.hero{
    background-image: url(./img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png);
     background-repeat: no-repeat;
     background-size: cover;
     height: 1000px;
}


.hero h1{
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
}
.hero p{
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 30px 0;
}
.hero input{
    margin-left: 440px;
    width: 400px;
    height: 40px;
    border-radius: 40px;
    padding: 20px;
    background-color: gray;
    color: white;
    border: 1px solid #FFFFFF;
    font-size: 20px;
    outline: none;
}



.s1t{
    display: flex;
    align-items: center;
}
.ich h1{
    font-size: 33px;
}
.ich p{
    font-size: 20px;
}
.s1ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 140px;
}



.s2{
    margin-top: 230px;
    margin-bottom: 130px;
}
.s2t h1{
    font-size: 60px;
}
.s2t p{
    font-size: 30px;
    color: #4F4F4F;
    margin-top: 20px;
}
.s2ota{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.plusota{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.s2box{
    background-color: #C1D0E4;
    width: 280px;
    height: 400px;
    position: relative;
    border-radius: 40px 40px 0 0;
}
.s2box-t{
    margin-top: 200px;
    background-color: white;
    height: 200px;
    border-radius: 30px 30px 0 0;
    padding: 20px;
}
.s2box-t h1{
    font-size: 33px;
}
.plusota p{
    font-size: 23px;
}
.plusota span{
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    border-radius: 50%;
    font-weight: 900;
}
.plantbek{
    position: absolute;
    top: -170px;
    left: -20px;
}



.s3 h1{
    text-align: center;
    font-size: 60px;
}
.s3 p{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.s3ota{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.kichkina{
    width: 520px;
    height: 320px;
}
.kotta{
    width: 500px;
}
.left{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}




.s4t h1{
    font-size: 60px;
}
.s4t span{
    font-size: 22px;
    color: #4F4F4F;
}
.s4{
    margin-top: 130px;
}
.qator{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 28px;
}
.s4ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qqq{
    width: 500px;
}




footer{
    background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
    padding: 80px 0 40px;
}
.col h1{
    color: white;
    font-size: 54px;
}
.col input{
    background-color: #566270;
    border: 1px solid white;
    outline: none;
    color: white;
    padding: 10px 30px;
    width: 300px;
    border-radius: 30px;
}
.doda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}
.col p{
    color: white;
    font-size: 20p;
    margin: 20px 0;
}
.col h2{
    color: white;
}
.end{
    text-align: center;
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 23px;
}


@media(max-width:470px){
    .hero section h1{
        font-size: 40px;
    }
    .hero section input{
        margin-left: 30px;
    }
    .s1ota{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .s2ota{
        flex-direction: column;
        gap: 230px;
        align-items: center;
    }
    .s4ota{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .qqq{
        width: 420px;
    }
    .kotta{
        display: none;
    }
    .kichkina{
        width: 390px;
    }
    .doda{
        flex-direction: column;
    }
}